<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
  </head>
  <body>
    <h3>Login User</h3>
    <form action="/user/loginPost" method="post">
      <div>
        Email
        <input type="email" id="email" name="email" required>
      </div><br />
      <div>
        Password
        <input type="password" id="password" name="password" required>
      </div><br />
      <input type="submit" value="Login" />
    </form>
  </body>
</html>